body {
  font-family: Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgb(255, 222, 133);
  margin: 2%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pokeimg {
  width: 200px;
}
