body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(255, 197, 37);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

.logo {
  width: 200px;
  position: absolute;
}

.pokemon {
  width: 300px;
  height: 100px;
  background-image: url('../public/favicon-96x96.png');
  background-repeat: no-repeat;
}

.navigation ul {
  display: flex;
  list-style: none;
}

.navigation ul li {
  margin-right: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: white;
  margin: 2%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pokeimg {
  width: 200px;
}
